.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  margin: 5px;

  .image {
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    color: rgb(66, 65, 65);
    font-size: xx-large;
    margin: auto;
    text-align: center;
    padding-top: 60px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }  

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .date {
      width: 90%;
      margin-bottom: 15px;
    }

    .heart {
      content: url("https://img.icons8.com/material-outlined/24/000000/like.png");
      height: fit-content;

      &:hover{
        content: url("https://img.icons8.com/material/26/000000/like--v1.png");
      }
    }

    &:hover {
      .custom-button{
        display: none;
      }

      .image{
        opacity: 1;
      }     
    }
  }
}


/* Backgrounds */
.e {
	background-color: #BEA6A0;
}
.a {
	background-color: #E5DBCE;
}
.b {
	background-color: #FFEBE9;
}
